body {
    display: flexbox;
    text-align: center;
    border: 15px solid rgb(39, 50, 151);
    padding: 50px;
    margin: 20px;     
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    color: #f9f9f9;
}

p {
    font-size: 35px;
    font-family: sans-serif;
    color: #f9f9f9;
}